{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/msipaint/css/paint.css') }}">
{{ parent() }}
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
{{ parent() }}
{{ msi_block_render('js', page) }}
{# Google Translate #}
<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock js %}

{% block meta %}
<meta name="google-translate-customization" content="31da8c0182f794e8-078d56aae1482be3-g72d6a9ca00524621-17"></meta>
{% endblock meta %}

{% block body %}
<div class="container">
    <div class="row">
        {# Header #}
        <div class="offset3 span9">
            <h1>{{ block('brand') }} - {{ block('slogan') }}</h1>
        </div>
    </div>
    <div class="row">
        {# Sidebar #}
        <div class="span3">
            {{ msi_block_render('sidebar_top', page) }}
            <div id="sidebar" data-spy="affix" data-offset-top="0">
                {{ knp_menu_render('MsiPaintBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
                <p>{{ numberformat(app.request.session.get('count')) }}</p>
                <div id="google_translate_element" style="margin-bottom:10px;height:26px;"></div>
                <p><img src="{{ asset('bundles/msipaint/img/paypal.png') }}" alt="0"></p>
            </div>
            {{ msi_block_render('sidebar_bottom', page) }}
        </div>
        {# Content #}
        <div class="span9">
            <div id="content">
                {% if page.home != true %}<h2>{{ block('title') }}</h2>{% endif %}
                {{ msi_block_render('content_top', page) }}
                {{ block('page_content') }}
                {{ msi_block_render('content_bottom', page) }}
                <div class="clearfix"></div>
            </div>
            <div id="footer">
                <span style="margin-right:10px;">{{ block('social') }}</span>
                &copy; {{ 'now'|date('Y') }} {{ block('brand') }}. Tous droits réservés.
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
